#header, #container{display:block; width:960px; margin:0 auto;}
html, header, footer, body, article, section,
nav, a, p, img, figure, figcaption, h1, h2, h3,
div, ul, ol, li, hr
{
    margin: 0;
    padding:0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
}
/* hyperlinqet*/
a{outline:none; text-decoration:none;}

/* Vija nalt */
.row9{border-top:5px solid #CB9530;}

/* headeri */
#header{padding:30px 0;}

#header #hgroup
{
    display:block;
    float:left; 
    width:auto; 
    clear:right;
}
#header #hgroup h1, #header #hgroup h2
{   margin:0; 
    font-weight:normal;
    text-transform:none;
    text-style:none;
}
#header #hgroup h1 a,#header #hgroup h2
{   color:#000000;
    background-color:#FFFFFF;
}
#header #hgroup h1
{   font-size:2.3em;
}
#header #hgroup h2
{   font-size:0.8em;
    text-transform:uppercase;}

#header #header-contact
{   display:block; 
    float:right;
    width:auto;
    clear:right;}
#header #header-contact a
{color:#000000;}
#header #header-contact ul
{margin-top:20px;}
#header #header-contact li
{color:#000000; 
    background-color:#FFFFFF;
    display:inline; 
    margin:0 0 0 30px; 
    padding:0 0 0 30px;
    font-size:0.9em;}
#header #header-contact li:first-child
{background: url(../images/call.png) no-repeat 0 1px;  
    padding-left: 17px;
}
#header #header-contact li:last-child
{background: url(../images/email.png) no-repeat 0 1px;
    padding-left: 17px;
}

/* Menyt kryesore */
#topnav{display:block; width:960px;}
.row2{border-top:1px solid #ECECEC;}
#topnav {padding-top: 1.5em;padding-bottom: 1.5em;display:block; width:100%; clear:both;margin-left: 17em; font-size:16.5px}
#topnav ul li{display:inline-block; margin-left:25px; text-transform:uppercase;}
#topnav ul li:first-child, #header nav ul li.first{margin-left:0;}
#topnav ul li li{margin:0; text-align:left; font-style:normal;}
#topnav ul li a:link, #header nav ul li a:visited, #header nav ul li a:hover{display:block; margin:0; padding:0; color:#666666; background-color:#FFFFFF;}
#topnav ul li a:hover, #header nav ul li.active a{color:#CB9530; background-color:#FFFFFF;}
#topnav ul li ul li a:link, #header nav ul li ul li a:visited{width:150px; float:none; margin:0; padding:7px 10px; text-transform:none; font-weight:normal; color:#666666; background-color:#F9F9F9; border:none;}
#topnav ul li ul li a:hover{color:#CB9530; background-color:#F9F9F9; border:none;}
#topnav ul ul{z-index:9999; position:absolute; left:-999em; height:auto; width:170px; padding:5px 0 0 0; border-bottom:1px solid #D5D5D5;}
#topnav ul ul a{width:140px;}
#topnav ul li:hover ul{left:auto;}
#topnav ul li:hover{position:static;}
  /* vijat */
  .row3{padding-top:2em;border-top:1px solid #D5D5D5;}
  .row3{padding-bottom:0em;border-bottom:1px solid #D5D5D5;}

/* teksti sliderit */
#intro h1{
    text-align: center;
    font-size: 25px;
    color:#737373;
}
/* sherbimet */
#container #homepage
{
    line-height:1.3em;
}
#container #homepage #services article
{
    padding-top: 4em;
    padding-bottom: 3em;
}
#container #homepage #services figure
{
    display:inline; 
    float:left;
}
#container #homepage #services strong
{
    float:left;
    margin:8px 0 0 10px; 
    padding:0;
    font-size:16px;
    text-transform:uppercase;
    color:#000000;
}
#services li.last
{
    margin-right:0;
}
.teksti
{
    float:left;
    color:#737373;
}
.more
{
    text-align:right;
    margin-right:0.3em;
}
#container #homepage #services a
{
    color: #CB9530;
}
.one_quarter
{
    display:block;
    float:left;
    margin:0 15.01px 0 0;
}
.one_quarter
{
    width:305px;
}
.two_quarter
{
    width:470px;
}
.three_quarter
{
    width:715px;
}
/* ----------------------------------------------Te fundit------------------------------------ */
.row7
{
    padding-top:1.2em;
    border-top:1px solid #D5D5D5;
}
#gallery{
    display:block;
    width:100%;
    line-height:1.6em;
}
#gallery figure{}
#gallery figure header
{
    margin:0 0 15px 0;
    padding:0;
    font-size:20px;
    line-height:normal;
}
#gallery figure figcaption{
    display:block;
    width:100%;
    margin:0; 
    padding:0; 
    clear:both;
}
#gallery ul, #gallery img
{
    margin:0;
    padding:0;
    list-style:none;
    padding-bottom:2em;
}
#gallery li
{
    display:block; 
    float:left;
    width:225px; 
    margin:0 20px 20px 0;
    padding:0;
}
#gallery li.last
{
    margin-right:0;
}
#gallery li img
{
    display:block;
    width:225px;
    height:175px;
}
/* ----------------------------------------------Ekipa------------------------------------ */
.row8
{
    padding-top:1.2em;
    border-top:1px solid #D5D5D5;
}
#container #homepage .aboutus header
{
    margin:0 0 15px 0;
    padding:0; 
    font-size:20px;
    line-height:normal;
}
#container #homepage #team article figure img
{
    margin:0 0 15px 0;
}
#container #homepage #team article figure h2
{
    font-size:14px;
    font-weight:bold;
}
#team p
{
    padding-bottom: 1em;
}
  .one_third, .two_third, .three_third
{
    display:block;
    float:left;
    margin:0 30px 0 0;
}
  .one_third
{
    width:300px;
}
  .two_third
{
    width:630px;
}
  .three_third
{
      width:960px;
    float:none; 
    margin-right:0;
    clear:both;
}
  .lastbox
{
    margin-right:0;
}
   /* ----------------------------------------------Footeri------------------------------------ */
.row4{border-top: 9.5px solid #D5D5D5;border-bottom:1px solid #D5D5D5;background-color: #1f1f1f}
 .one_quarter, .two_quarter, .three_quarter{display:block; float:left; margin:0 0 0 20px;}
